<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
    </style>
</head>

<body>
    <div class="revlytic-privacy-policy-main" style="margin: 0 auto;width:100%; max-width: 70rem;background: #fff;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;padding: 1.5rem;">
        <div class="revlytic-policy-logo" style="text-align: center;">
            <!-- <img src="https://advancedsubscriptions.com/application/assets/images/logo.png"> -->
            <img src="https://cdn.shopify.com/s/files/1/0753/8068/7139/files/revlytic.c679902f_1.svg" width="250" height="100">
        </div>
        <div class="revlytic-privacy-policy-text" style="margin-top: 2rem;">
            <h2 style="color:#000; text-align: center;font-family: 'Mulish', sans-serif; font-size: 1.5em;">Privacy Policy</h2>
            <p style="color:#000; font-family: 'Mulish', sans-serif; font-size: 1em;">Revlytic, the app providing the Subscriptions service, respects individual's privacy and values the confidence of their customers, employees, consumers, business partners and others. The terms & conditions lay down represent the whole agreement
                the entity subscribing to our Revlytic App.</p>
            <p style="color:#000; font-family: 'Mulish', sans-serif; font-size: 1em;">This Privacy Policy will help you better understand how we collect, use, and share your personal information. If we change our privacy practices, we may update this privacy policy.</p>
            <h4 style="color:#000; font-family: 'Mulish', sans-serif; font-size: 1em;">Here we are sharing the policies of Revlytic App</h4>
            <div class="revlytic-policy-description" style="background: #1c550312;padding: 10px;border-radius: 7px;">
                <p style="color:#000; font-family: 'Mulish', sans-serif; font-size: 1em;">Revlytic app enables customers to pay a recurring price at scheduled intervals for goods or services. We are offering subscriptions in free version of the app.</p>
            </div>

            <h4 style="color:#000; font-family: 'Mulish', sans-serif; font-size: 1em;">Personal Information the App Collects</h4>
            <div class="revlytic-policy-description" style="background: #1c550312;padding: 10px;border-radius: 7px;">
                <p style="color:#000; font-family: 'Mulish', sans-serif; font-size: 1em;">When you install our App, we are automatically able to access certain types of scopes from your Shopify account such as products, orders, and shop information.</p>
                <p style="color:#000; font-family: 'Mulish', sans-serif; font-size: 1em;">Additionally, we collect the following types of personal information from you and/or your customers once you have installed the App:</p>
                <p style="color:#000; font-family: 'Mulish', sans-serif; font-size: 1em;">Information about you and others who may access the app on behalf of your store, such as your name, address, email address, and billing information.</p>
                 <p style="color:#000; font-family: 'Mulish', sans-serif; font-size: 1em;">Information about customers who visit your store and purchased subscription products, such as their name, email, shipping address, billing address, order details, subscription details.</p>
            </div>


            <h4 style="color:#000; font-family: 'Mulish', sans-serif; font-size: 1em;">How Do We Use Your Personal Information?</h4>
            <div class="revlytic-policy-description" style="background: #1c550312;padding: 10px;border-radius: 7px;">
                <p style="color:#000; font-family: 'Mulish', sans-serif; font-size: 1em;">We use the personal information we collect from you and your customers in order to provide the Service and to operate the App.</p>
                <p style="color:#000; font-family: 'Mulish', sans-serif; font-size: 1em;">Additionally, we use this personal information to: Communicate with you, optimize or improve the app, and provide you with information or advertising relating to our products or services.</p>
                <p style="color:#000; font-family: 'Mulish', sans-serif; font-size: 1em;">Information about you and others who may access the app on behalf of your store, such as your name, address, email address, and billing information.</p>
                
            </div>




            <h4 style="color:#000; font-family: 'Mulish', sans-serif; font-size: 1em;">Sharing Your Personal Information</h4>
            <div class="revlytic-policy-description" style="background: #1c550312;padding: 10px;border-radius: 7px;">
                <p style="color:#000; font-family: 'Mulish', sans-serif; font-size: 1em;">We do not share your Personal Information with any third parties. we may also share your personal information to comply with applicable laws and regulations, to respond to a subpoena, search warrant or other lawful request for information
                    we receive, or to otherwise protect our rights.</p>
            </div>



            <h4 style="color:#000; font-family: 'Mulish', sans-serif; font-size: 1em;">Your Rights</h4>
            <div class="revlytic-policy-description" style="background: #1c550312;padding: 10px;border-radius: 7px;">
                <p style="color:#000; font-family: 'Mulish', sans-serif; font-size: 1em;">If you are a European resident, you have the right to access personal information we hold about you and to ask that your personal information be corrected, updated, or deleted. If you would like to exercise this right, please contact us through the contact information below.</p>
                <p style="color:#000; font-family: 'Mulish', sans-serif; font-size: 1em;">Additionally, if you are a European resident we note that we are processing your information in order to fulfill contracts we might have with you (for example if you make an order through the Site), or otherwise to pursue our legitimate business interests listed above.</p>
            </div>


            <h4 style="color:#000; font-family: 'Mulish', sans-serif; font-size: 1em;">Data Retention</h4>
            <div class="revlytic-policy-description" style="background: #1c550312;padding: 10px;border-radius: 7px;">
                <p style="color:#000; font-family: 'Mulish', sans-serif; font-size: 1em;">We will maintain your order information and subscription detail for our records, unless and until you or your store's customers delete their subscription.</p>
            </div>

            <h4 style="color:#000; font-family: 'Mulish', sans-serif; font-size: 1em;">Changes To The Privacy Policy</h4>
            <div class="revlytic-policy-description" style="background: #1c550312;padding: 10px;border-radius: 7px;">
                <p style="color:#000; font-family: 'Mulish', sans-serif; font-size: 1em;">We may update this privacy policy at any time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons. If we make changes to this policy, we will notify you by email of updates, so that you are aware of information we collect, how we use it, and under what circumstances, if any.</p>
            </div>


            <h4 style="color:#000; font-family: 'Mulish', sans-serif; font-size: 1em;">Contact Information</h4>
            <div class="revlytic-policy-description" style="background: #1c550312;padding: 10px;border-radius: 7px;">
                <p style="color:#000; font-family: 'Mulish', sans-serif; font-size: 1em;">If you would like to access, correct, amend or delete any personal information, or require any additional information about our privacy policy please contact us at support@revlytic.co .</p>
            </div>



            <div class="revlytic-policy-copyright">
                <p style="color:#000; font-family: 'Mulish', sans-serif; font-size: 1em; text-align: center;">Copyright © 2023 Revlytic. All Rights Reserved</p>
            </div>
        </div>
    </div>
</body>

</html>