# Environment Configuration
.env
.env.*

# Dependency directory
node_modules

# Test coverage directory
coverage

# Ignore Apple macOS Desktop Services Store
.DS_Store

# Logs
logs
*.log

# ngrok tunnel file
config/tunnel.pid

shopify.app.revlytic-css.toml
# vite build output
dist/

# extensions build output
extensions/*/build
extensions

extensions

# Node library SQLite database
web/database.sqlite

# toml file
.toml

.cache/