.purchase_option {
    border-radius: 10px;
    border: 1px solid #DBDBDB;
    display: inline-block;
    padding: 20px 10px;
    width:100%;
}
.one-time-purchase {
    border-bottom: 1px solid #DBDBDB;
    padding-bottom: 15px;
    display: flex;
    column-gap: 5px;
}
.subscribe-option {
    margin-top: 15px;
    column-gap: 5px;
}
.revlytic.purchase-label-price input {
    position: relative;
    top: 2px;
}
.revlytic-subscription-details-main {
    padding: 20px 10px;
    margin: 10px 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 1px 22px 0px rgba(0, 0, 0, 0.10);
}
.revlytic-subscription-details-main h3, p {
    margin: 0;
}
.revlytic.delivery-frequency-main select {
    padding: 10px 6px;
    width: 100%;
    border-radius: 7px;
}
.revlytic.delivery-frequency-main select:focus {
    outline: none;
    box-shadow: none;
}
.revlytic.delivery-frequency-main {
    margin-top: 2rem;
}
.revlytic.delivery-frequency-main .ant-select-single {
    width: 100%;
}
.revlytic.delivery-billing-section {
    margin-top: 0.75rem;
}
.revlytic.delivery-frequency-main p:last-child {
    margin-bottom: 0;
}
.revlytic.delivery-frequency-main p {
    margin: 0 0 10px 0;
color: #666;
font-size: 14px;
font-weight: 400;
letter-spacing: -0.24px;
}
.revlytic.purchase-optn-main label {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -.24px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.revlytic.purchase-label-price span {
    margin-left: 3rem;
}
#selectedPlan {
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    padding: 10px 11px;
    width: 100%;
    color: #999;
}
.revlytic.purchase-label-price {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -.28px;
    display: flex;
    justify-content: space-between;
}
.revlytic.purchase-optn-main input[type=radio]:checked {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 18px;
    height: 18px;
    border: 4px solid #0F550C;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}
.revlytic.purchase-optn-main input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 18px;
    height: 18px;
    border: 4px solid #D9D9D9;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}
.revlytic.purchase-optn-main input[type=radio]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #fff;
    background-color: CanvasText;
}

.revlytic.purchase-optn-main input[type=radio]:checked::before {
  transform: scale(1);
}

.revlytic.delivery-billing-section {
    margin-top: 0.75rem;
}

.widget-preview-banner {
    text-align: right;
    font-size: 14px;
}
.widget-preview-banner span {
    color: #0f550c;
}